body{
    font-family: liebegerda,sans-serif;
    font-weight: 400;
    font-style: normal;    
    padding: 20px 30px 20px 30px;
    margin: 10px;
    border-radius: 10px;
    background-color: #EE1515;
}
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 80%;
    background-color: #EE1515;
}
.top_bar{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-bottom: 5%;
}
.menu_bar {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self:top ; 
    width: 40px;
    height: 40px;
}

h1{
    font: large;
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
    align-self: center;
    padding-bottom:10% ;
}

.logo {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: right;
}
.overblik_dine_børn{
    position: relative;
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.overblik_dine_børn img {
    position: relative;
    border-radius: 20px;
    background-color: white;
    
}
p.Ny.Ønskeseddel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    position: absolute;
    background-color:#0068BB;
    left: 55px;
    top: 120px;
    padding-right: 20px ;
    color:white;
}
img.Tilføj_ønske {
    background-color: #0068BB;
    width: 125px;
    height: 125px;
    
}
.Ditte{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    position: absolute;
    background-color:#0068BB;
    left: 205px;
    top: 120px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
}

   .Johan{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    position: absolute;
    background-color:#0068BB;
    left: 140px;
    top: 290px;
    padding-right: 20px;
    color: white;
   }