.budget_oversigt_top_bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
}

.budget_oversigt_top_bar img {
    margin: 10px;
}

.budget_oversigt_overskrift {
    padding: 0px;
}

.budget_oversigt_flex {
    display: flex;
    flex-wrap: wrap;
}

.budget_oversigt_grid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 30% 70%;
    grid-gap: 10px;
    margin-left: 20px;
    position: relative;
}


.budget_oversigt_billeder {
    border-radius: 20px;
    margin: 10px;
}

.budget_oversigt_pris{
    position: absolute;
    background-color: #0066be;
    border-radius: 0px 0px 20px 20px;
    padding-left: 42px;
    padding-right: 42px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 130px;
    margin-left: 10px;
}



.indkøbsvogn_flueben {
    position: absolute;
    margin-top: 110px;
    margin-left: 50px;
}

.gave_flueben {
    position: absolute;
    margin-top: 110px;
    margin-left: 145px;
}

.købt {
    font-size: 1em;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0px;
    text-align: center;
    align-self: flex-end;
}

.pakket_ind {
    font-size: 1em;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0px;
    text-align: center;
    align-self: flex-end;
    margin-left: 10px;
}

.sort_gave {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    background-color: white;
    border-radius: 40px;
    padding: 10px;
    margin-left: 10px;
}

.sort_indkøbsvogn {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
    border-radius: 40px;
    padding: 10px;
}

.hvid_gave {
    position: relative;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    background-color: #0066be;
    border-radius: 40px;
    padding: 10px;
    margin-left: 10px;
}

.hvid_indkøbsvogn {
    position: relative;
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #0066be;
    border-radius: 40px;
    padding: 10px;
}