@import "login.css";
@import "oensker_delt_med_mig.css";
@import "frontpage.css";
@import "oenskeliste.css";
@import "barnets_ønsker";


body{
    background-color: #E3000F;
    font-family: 'Kalam', cursive;
    color: white;
}

