html{
    width: 100%;
    height: 100%;
}

.arrow_scan{
    display: flex;
    flex-direction: row;
    justify-content:start ;
}

.scan_body {
    background-image: url(images/Skærmbilledet.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.button {
    padding: 20px 30px 20px 30px;
    margin: 10px;
    border-radius: 10px;
    align-self: center;
    text-align: center;
    text-decoration: none;
    width: 200px;
    color: white;
    background-color: #006AB8;
    border: 10px;
    font-size: 20px;  
    position: fixed;
    justify-content: center;
    top: 550px;
    font-family: Arial, Helvetica, sans-serif;
}
